<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FUTBOL CHAMPAN{% endblock %}</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body> data-user-id="{{ user.id | default:-1 }}"
    <header>
        <nav>
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="Logo FC"></a>
            </div>
            <div class="nav-links">
                <a href="{% url 'home' %}">Home</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'teams' %}">Teams</a>
                    <a href="{% url 'players' %}">Players</a>
                    <a href="{% url 'matches' %}">Recent matches</a>
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Thank you for visiting our football stats web!</p>
    </footer>
</body>
</html> 