{% extends "base.html" %}
{% load static %}
{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'scripts/teams.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles/teams.css' %}">

    <button id="btn-crear-equipo">Create team</button>
    <input type="text" id="buscador" placeholder="Buscar equipo por nombre..."/>

    <h1>Equipos</h1>
    <table id="tabla-equipos">
        <thead>
        <tr>
            <th>Escudo</th>
            <th>Nombre</th>
            <th>Año de Fundación</th>
            <th>Estadio</th>
            <th>Director Técnico</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <p id="mensaje-error" style="display: none; color: red;">Error al cargar los datos.</p>
    <div id="modal-overlay" class="modal-overlay hidden">
        <!-- Modal -->
        <div id="visualize-modal" class="modal hidden">
            <h2 id="modal-nombre"></h2>
            <p><strong>Fundado:</strong> <span id="modal-fundado"></span></p>
            <p><strong>Estadio:</strong> <span id="modal-estadio"></span></p>
            <p><strong>Entrenador:</strong> <span id="modal-entrenador"></span></p>
            <p><strong>TLA:</strong> <span id="modal-tla"></span></p>
            <p><strong>Web:</strong> <a id="modal-web"></a></p>




            <button id="cerrar-modal">Cerrar</button>
        </div>
        <div id="edit-modal" class="modal hidden">
            <h1>EDIT</h1>
            <h2 id="modal-nombre"></h2>
            <form id="form-editar-equipo">
                <label>Nombre:</label>
                <input type="text" id="modal-nombre-input" name="nombre">

                <label>Fundado:</label>
                <input type="number" id="modal-fundado-input" name="fundado">

                <label>Escudo:</label>
                <input type="text" id="modal-crest-input" name="crest">

                <label>Estadio:</label>
                <input type="text" id="modal-estadio-input" name="estadio">

                <label>Entrenador:</label>
                <input type="text" id="modal-coach-input" name="coach">

                <div class="modal-buttons">
                    <button type="submit" id ="submit" >Guardar cambios</button>
                    <button type="button" id="cerrar-modal-edit">Cancelar</button>
                </div>
            </form>
            <button type="button" id="btn-delete-team" class="delete-button">
                <!-- Ícono SVG incrustado -->
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff">
                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
              </svg>
            </button>
        </div>


        <div id="create-modal" class="modal hidden">
            <h2>Crear nuevo equipo</h2>
            <form id="form-crear-equipo">
                <input type="text" name="name" id="create-name" placeholder="Nombre del equipo" required><br>
                <input type="number" name="founded" id="create-founded" placeholder="Año de fundación" required><br>
                <input type="text" name="venue" id="create-venue" placeholder="Estadio" required><br>
                <input type="text" name="coach" id="create-coach" placeholder="Entrenador" required><br>
                <input type="url" name="crest" id="create-crest" placeholder="URL del escudo" required><br>
                <button type="submit" id="btn-guardar-equipo">Crear</button>
                <button type="button" id="cerrar-crear-modal">Cancelar</button>
            </form>
        </div>
    </div>

{% endblock %}